{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = releaseDate; 
            name = releaseDate; 
            prototypeName = date; 
        }, 
        {columnName = title; name = title; prototypeName = varchar100; }
    ); 
    attributesUsedForLocking = (id, releaseDate, title); 
    className = "com.dd.moviedatabase.data.Movie"; 
    classProperties = (releaseDate, title); 
    externalName = Movie; 
    fetchSpecificationDictionary = {}; 
    name = Movie; 
    primaryKeyAttributes = (id); 
}
