{
    attributes = (
        {
            allowsNull = Y; 
            columnName = directorID; 
            name = directorID; 
            prototypeName = id; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = releaseDate; 
            name = releaseDate; 
            prototypeName = date; 
        }, 
        {columnName = title; name = title; prototypeName = varchar100; }
    ); 
    attributesUsedForLocking = (directorID, id, releaseDate, title); 
    className = "com.dd.moviedatabase.data.Movie"; 
    classProperties = (director, releaseDate, title); 
    externalName = Movie; 
    fetchSpecificationDictionary = {}; 
    name = Movie; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Director; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = directorID; }); 
            name = director; 
        }
    ); 
}
